/* 版心 */
.w{
	width: 1190px;
	margin: auto;
}
/* 右浮动 */
.fr{
	float: right;
}
/* 左浮动 */
.fl{
	float: left;
}
.style-red {
	color:#F10215!important;
}
li{
	list-style-type: none;
}
ul{
	margin: 0;
	padding: 0;
}
input,button{
	padding: 0;
	border: 0;
}
/* css清浮动 */
.clearfix::before,.clearfix::after{
	content: " ";
	display: table;
}
.clearfix::after{
	clear: both;
}
.clearfix{
	*zoom:1;
}
*{
	margin: 0;
	padding: 0;
}
/* 字体样式 */
@font-face {
  font-family:'icomoon';
  src:  url('../fonts/icomoon.eot?njlizb');
  src: url('../fonts/icomoon.eot?njlizb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?njlizb') format('truetype'),
    url('../fonts/icomoon.woff?njlizb') format('woff'),
    url('../fonts/icomoon.svg?njlizb#icomoon') format('svg');
  font-style:normal;
  font-weight: normal;
}
body{
	background-color: #f4f4f4;
}
a{
	text-decoration: none;
}
/* 京东 顶部 start */
.J_event{
	background-color:#A93017;
	position: relative;
}
.J_event a{
	display: block;
	height: 80px;
	background: url(../images/topbanner.jpg.webp) no-repeat;
}
.J_event button{
	background-color: rgb(0,0,0,0.1);
	font-family:'icomoon';
	font-style: normal;
	position: absolute;
	top: 0;
	left: 87%;
	cursor: pointer;
	color: aliceblue;
	border:1px solid #A93017 ;
}
.J_event .off{
	font-style: normal;
}
/*京东 导航栏开始*/
.shortcut{
	height: 30px;
	line-height: 30px;
	background-color: #E3E4E5;
	border-bottom:1px solid #DDDDDD;
	color:#999999;
	font-size: 12px;
}
.shortcut a{
	color:#999999;
	font-size: 12px;
	text-decoration: none;
}
.shortcut a:hover{
	color: #f10215;
}
.postion {
	font-family:'icomoon';
	font-style: normal;
	font-size: 14px;
	color:#f10215;
}
.shortcut .fl li{
	margin-left: 200px;
	height: 30px;
	overflow: hidden;
}
.shortcut .fr li{
	float: left;
}
.spacer{
	width: 1px;
	height: 12px;
	background-color: #ccc;
	margin: 10px 10px 0;
}
.dropdown{
	padding-right: 15px;
	position: relative;
}
.dropdown i{
	font-family:"icomoon";
	font-style: normal;
	font-size: 16px;
	position: absolute;
	right: -2px;
	top: -2px;
}
 /* header部分 start */
 .header{
	 height: 140px;
	 background-color: #fff;
 }
 .inner{
	 height: 140px;
	 position: relative;
 }
 .logo{
	 width: 190px;
	 height: 170px;
	 position: absolute;
	 top: -30px;
	 left: 0;
	 background-color: pink;
	 box-shadow: 0 -12px 10px rgba(0,0,0,.2);
 }
 .logo h1,.service_unit h5,.service_unit p{
	 margin: 0;
 }
 .logo a{
	 display: block;
	 width: 190px;
	 height: 170px;
	 background: url(../images/logo.png) no-repeat -10px -10px;
	 text-indent: -999px;
	 overflow: hidden;
 }
 .search{
	 width: 550px;
	 height: 35px;
	 position: absolute;
	 top: 25px;
	 left:280px;
 }
 .search input {
	 width: 488px;
	 height: 33px;
	 border: 1px solid #e1251b;
	 padding: 0 0 0 5px;
	 outline: none;
	 float: left;
 }
 .search button {
	 width: 50px;
	 height: 35px;
	 background-color: #F10215;
	 float: left;
	 cursor: pointer;
	 outline: none;
 }
 .search i{
	 font-family:"icomoon";
	 font-style: normal;
	 color: #fff;
	 font-size: 16px;
 }
.search b{
	 font-family:"icomoon";
	 font-size: 15px;
	 color: #b0b0b0;
	 position: absolute;
	 top: 10px;
	 right: 70px;
	 cursor: pointer;
	 font-weight: normal;
 }
 .search b:hover{
	 color: #E93854;
 }
 .hotwords{
	 position: absolute;
	 top: 70px;
	 right: 426px;
 }
 .hotwords a{
	 color: #9E9B99;
	 font-size: 12px;
	 padding-right: 5px;
 }
 .hotwords a:hover{
	 color: #F10215;
 }
 .mycar{
	 width: 120px;
	 height: 33px;
	 text-align: center;
	 border: 1px solid #ccc;
	 position: absolute;
	 top: 26px;
	 right:225px;
 }
 .mycar a{
	 font-size: 12px;
	 color: #F10215;
	 height: 40px;
	 line-height: 30px;
 }
 .mycar i{
	 font-family:"icomoon";
	 font-style: normal;
	 color: #F10215;
	 margin-right: 10px;
 }
 .mycar s{
	 position: absolute;
	 top: 3px;
	 left: 32px;
	 height: 13px;
	 line-height: 13px;
	 font-size: 12px;
	 text-decoration: none;
	 background-color: #F10215;
	 padding: 0 3px;
	 border-radius: 6px;
	 color: #fff;
 }
 .txbanner {
	position: absolute;
	 right: 0;
	 margin-top:0;
	 border-bottom: 10px;
 }
 .navitems{
	 position: absolute;
	 left: 200px;
	 bottom: 0;
	 padding-top: 15px;
 }
 .navitems ul{
	 float: left;
 }
 .navitems ul li{
	 float: left;
	 margin-left: 22px;
 }
 .navitems li a{
	 position: relative;
	 display: block;
	 font-size: 15px;
	 color: #333;
	 height: 40px;
	 line-height: 40px;
	 margin: 0 1px;
 }
  .navitems li a:hover{
	  color: #F10215;
  }
 /* header部分 end */
 /* footer 开始了 */
 .footer{
	 height: 560px;
 }
 .footer-service{
	 border-bottom: 1px solid #DEDEDE;
 }
 .footer-service-inner{
	 padding: 30px 0;
 }
 .footer-service-inner li{
	 float: left;
	 width: 297px;
	 height: 42px;
 }
 .service_unit{
	 width: 225px;
	 height: 42px;
	 margin: 0 auto;
	 position: relative;
 }
 .service_unit h5{
	 width: 36px;
	 height: 42px;
	 position: absolute;
	 top: 0;
	 left: 0;
	 background:url(../images/精灵图.png) no-repeat 0 -192px;
	 text-indent: -999px;
	 overflow: hidden;
 }
#service_unit1 h5{
	background: url(../images/精灵图.png) no-repeat -41px -192px;
}
#service_unit2 h5{
	background: url(../images/精灵图.png) no-repeat -82px -192px;
}
#service_unit3 h5{
	background: url(../images/精灵图.png) no-repeat -123px -192px;
}
 .service_unit p{
	 line-height: 42px;
	 margin-left: 45px;
	 font-size: 18px;
	 font-weight: 700;
 }
 .help{
	 height: 159px;
	 padding-top:20px;
	 padding-bottom: 20px;
	 border-bottom:1px solid #DEDEDE;
 }
 .help dl{
	 float: left;
	 width: 198px;
 }
 .help dt{
	 font-size: 14px;
	 font-weight: 700;
	 color: #666666;
	 height: 30px;
 }
 .help dd {
	 height: 22px;
 }
 .help dd a{
	 color: #727272;
	 font-size: 12px;
 }
 .c-info a:hover,.links a:hover,.cover a:hover,.help dd a:hover{
	 color: #F10215;
 }
 .cover {
	 float: left;
	 width: 200px;
	 height: 150px;
	 background: url(../images/精灵图.png) no-repeat 0  0;
	 
 }
 .cover h5{
	 text-align: center;
	  color: #727272;
 }
 .cover p{
	 display: block;
	 font-size: 12px;
	 margin-block-start: 1em;
	 margin-block-end: 1em;
	 margin-inline-end: 0;
	 margin-inline-start: 0;
	  color: #727272;
 }
 .cover a{
	 display: block;
	 text-align: right;
	 font-size: 12px;
 }
 .copyright {
	 padding:15px 0;
 }
 .links {
	 text-align: center;
 }
 .links a{
	 color: #727272;
	 font-size: 12px;
 }
 .links span{
	 font-size: 12px;
	 color: #D4CDCD;
	 margin: 0 8px;
 }
 .c-info {
	 width: 1190px;
	 height: 110px;
	 font-size: 12px;
	 color: #9E9E9B;
	 text-align: center;
	 line-height: 20px;
	 padding:10px 0;
 }
 .c-info p span{
	 margin: 0 8px;
 }
 .c-info #wg{
	 display: inline-block;
	 width: 15px;
	 height: 12px;
	 margin-right: 8px;
	 background: url(../images/精灵图.png) no-repeat  -107px -155px;
 }
 .c-info #wg-1{
 	 display: inline-block;
 	 width: 15px;
 	 height: 12px;
 	 margin-right: 8px;
 	 background: url(../images/精灵图.png) no-repeat  -165px -153px;
 }
 .c-info #wg-2{
 	 display: inline-block;
 	 width: 15px;
 	 height: 12px;
 	 margin-right: 8px;
 	 background: url(../images/精灵图.png) no-repeat  -146px -152px;
 }
 .c-info #wg-3{
 	 display: inline-block;
 	 width: 15px;
 	 height: 12px;
 	 margin-right: 8px;
 	 background: url(../images/精灵图.png) no-repeat  -128px -152px;
 }
 .c-info #wg-4{
 	 display: inline-block;
 	 width: 15px;
 	 height: 12px;
 	 margin-right: 8px;
 	 background: url(../images/精灵图.png) no-repeat  -108px -170px;
 }
 .c-info a{
	 color: #9E9E9B;
 }
 .c-picture{
	 text-align: center;
	 margin-block-start: 1em;
	 margin-block-end: 1em;
	 margin-inline-start: 0;
	 margin-inline-end: 0;
 }
 .c-picture a{
	 width: 103px;
	 height: 32px;
	 display: inline-block;
	 margin: 0 3px;
	 background-color: #A93017;
 }
 .picture-1{
	 background: url(../images/精灵图.png) no-repeat -205px -111px;
 }
 .picture-2{
	  background: url(../images/精灵图.png) no-repeat -205px -74px;
 }
 .picture-3{
 	  background: url(../images/精灵图.png) no-repeat  -205px -37px;
 }
 .picture-4{
 	  background: url(../images/精灵图.png) no-repeat  -205px 0px;
 }
 .picture-5{
 	  background: url(../images/精灵图.png) no-repeat  0px -155px;
 }
 /* footer结束 */